.flex {
	display: flex;
	justify-content: space-between;
    // border: 1px solid red;
    width: 100%;
}

.flexMainNav {
    display: flex;
    gap: 20px;
    // border: 1px solid red;
        
    & li {
        // border: 1px solid red;
        list-style:none;
        cursor: pointer;
    }

	& li  a {
		text-decoration: none;

	}

}
