.flex {
	display: flex;
	justify-content: space-between;
    width: 100%;
}

.period{
    display: flex;
}

.periodHeader{
    display: flex;

    h5{
        margin-right: 0.2rem;
        // border: 1px solid red;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.active {
    background-color: blue;
}