.flex {
	display: flex;
	justify-content: space-between;
    width: 100%;
}

.period{
    // border: 1px solid red;
    display: flex;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.active {
    background-color: blue;
}